<div class="modal" tabindex="-1" role="dialog" id="about-fast">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">About FAST Subjects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A cataloging service of <a href="https://www.oclc.org/">OCLC</a> and the 
        <a href="http://loc.gov/">Library of Congress</a>, 
        <a href="https://www.oclc.org/research/themes/data-science/fast.html">FAST</a>,
        short for <em>Faceted Application of Subject Terminology</em>, is derived from the
        Library of Congress Subject Headings (<em>LCSH</em>), the classification schema most
        used in higher education. Using <strong>FAST</strong> gives Colorado College's 
        scholarship graph project a valuable controlled vocabulary that maps 
        directly to the subject headings used in Colorado College Tutt Library's 
        <a href="https://tiger.coloradocollege.edu/">traditional catalog</a>.
       </p> 
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
