{% extends 'base.html' %}

{% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typeaheadjs.css') }}">
{% endblock %}

{% block main %}
<form class="form" action="{{ url_for('academic_profile') }}" id="academic-profile" method="POST">
{{ form.csrf_token }}
{{ form.iri(class_='form-control') }}
<input type="hidden" name="email" value="{{ scholar.data.mail }}"></input>
<input type="hidden" name="label" value="{{ scholar.data.displayName }}"></input>
<div class="container">
    <h3>
    <a href="{{ url_for('home') }}"><i class="fas fa-graduation-cap"></i></a>
    Colorado College Scholarship Database</h3>
    <h1>Academic Profile for {{ form.display_label.data }}</h1> 
    {% if form.email.data == scholar.data.mail %}
    <h2>{{ scholar.data.title }}</h2>
    {% endif %}
        <div class="row">
            <div class="col">
                <label>{{ form.given_name.label }}</label>
                {{ form.given_name(class_='form-control disabled', readonly='true') }}
            </div>
            <div class="col">
                <label>{{ form.family_name.label }}</label>
                {{ form.family_name(class_='form-control disabled', readonly='true') }}
            </div>
        </div>
        <label>{{ form.research_stmt.label }}</label>
        {{ form.research_stmt(cols=60, rows=5, class_='form-control') }}
    {#<table class="table table-bordered">
        <thead>
            <th>Variable Name</th>
            <th>Value</th>
        </thead>
        <tbody>
            {% for key,item in scholar.data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ item }}</td>
                <td>{ scholar.data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>#}
    <hr>
    <img src="{{ url_for('static', filename='img/orcid-logo.png') }}" alt="ORCID Logo">
    
    {% if form.iri.data and "orcid" in form.iri.data %}<input type="input" class="form-control" readonly value="{{ form.iri.data}}"></input>
    {% else %}
        <a href="https://orcid.org/register" class="btn btn-info">Register for ORCID iD</a> and then 
        enter your ORCID iD <input type="input" name="orcid" class="form-control"> 
    {% endif %}
    <hr>
    <h2>FAST<sup><a href="#about-fast" data-target="#about-fast" data-toggle="modal"> <i class="fas fa-info-circle fa-sm"></i>
        </a></sup> Subject Headings</h2>
    <div class="row">
        <div class="col-3">
            <h4>Find subjects</h4>
            <div id="fast-suggestion">
                <input class="typeahead form-control" type="text" id='subject-of'></input>
            </div>
        </div>
        <div class="col">
            <div id="research-subjects">
                {% for subject in subjects %}
                    <div class="alert alert-primary alert-dismissible fade show">
                        <input type="hidden" name="subjects" value="{{ subject.subject.value }}=={{ subject.label.value }}"></input>
                        {{ subject.label.value }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> 
    <hr>
    <h3>Creative Works (books, articles, visual, audio, video, etc.)</h3>
    <button class="btn btn-success" 
            data-toggle="modal" data-target="#new-article-dlg"
            onclick="return false"
            aria-label="Add Article">
                        <i class="fas fa-file-alt"></i>
    </button>
	<button class="btn btn-success"
            onclick="return false"
	    data-toggle="modal" data-target="#book-dlg"
	    aria-label="Add Book">
						<i class="fas fa-book"></i>
	</button>
    {% for row in citations %}
    <div class="row">
        <div class="col-8">
         {{ row|article_link_filter|safe }}
         {% if 'journal_title' in row %}<em>{{ row.journal_title.value }}</em>{% endif %} ({{ row.datePublished.value }})
         {% if row|volume_issue_filter|safe %} {{ row|volume_issue_filter|safe }} {% endif %}
         {% if row|page_number_filter|safe %}{{ row|page_number_filter|safe }}{% endif %}
        </div>
        <div class="col-4">
            <a href="#" class="btn btn-warning" onclick="editCitation('{{ row.article.value }}');" type="input">
                <i class="fas fa-edit"></i>
            </a>
            <a href="#" class="btn btn-danger" type="input" onclick="deleteCitation('{{ row.article.value }}');">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="w-50 mx-auto">
        <button type="submit" class="btn btn-success btn-lg">
            <i class="fas fa-save"></i> Save Profile
        </button>
    </div>
</div>
</form>
{% endblock main %}

{% block page_js %}

<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
<script>
    var oclcFast = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: "{{ url_for('fast_suggest') }}?q=%QUERY",
            wildcard: '%QUERY'
        }
    });

    $("#fast-suggestion .typeahead").typeahead({
            highlight: true 
        },
        {
            name: 'oclc-fast',
            display: 'suggestall',
            id: 'id',
            source: oclcFast.ttAdapter(),
            templates: {
                empty: [
                    '<div style="padding: 1em 2em">',
                    'unable to find any FAST headings',
                    '</div>'
                ].join('\n'),
                suggestion: function(data) {
                    return '<div style="background-color: white" id="' + data.id + '">' + data.suggestall + '</div>';
                }
            }
    }).on('typeahead:selected', function(obj, datum) {
        $('.typeahead').typeahead('val','');
        $("#research-subjects").append(
            ['<div class="alert alert-primary alert-dismissible fade show">',
             '<input type="hidden" name="subjects" value="' + datum.id +'==' + datum.suggestall + '">',
              datum.suggestall,
              '<button type="button" class="close" data-dismiss="alert" aria-label="Close">',
              '<span aria-hidden="true">&times;</span></button></div>'].join('\n'));
    });

 function deleteCitation(iri) {
    var yesDelete = confirm("Are you sure you want to delete " + iri);
    return false;
 }

 function editCitation(iri) {
    console.log("editCitation " + iri);
    return false;

 }



 $("#academic-profile").on('submit', function(e) {
     e.preventDefault();
     $("#processingProfile").modal('show');
     var data = $("#academic-profile :input").serializeArray();
     console.log("Input " + data.length);
     var action = $("#academic-profile").attr("action");
     $.post(action,
            data=data,
            success=function(data) {
               $("#processingProfile").modal('hide');
               $("#successUpdate").modal('show'); 
            }
      );

});
</script> 
{% endblock %}

{% block dialogs %}
{% include 'about-fast-dlg.html' %}
{% include 'add-article-dlg.html' %}
{% include 'add-book-dlg.html' %}
{% include 'process-profile.html' %}
{% include 'success-profile-update.html' %}
{% endblock %}
