<div class="modal fade" id="new-article-dlg" tabindex="-1" role="dialog" aria-labelledby="new-article-dlg-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form method = "POST" id="add_article_form"
			action = "{{ url_for('add_work') }}">
			
      <div class="modal-body">
			{{ form.csrf_token }}
            <h3>New Article Form</h3>

			<label>{{ new_article_form.CC_author.label }} <span class="text-danger">*</span></label>
			{{ new_article_form.CC_author(class_="form-control") }}
			<label>{{ new_article_form.author_string.label }}</label>
			{{ new_article_form.author_string(class_="form-control") }}
			<label> {{ new_article_form.article_title.label }}</label>
			{{ new_article_form.article_title(class_="form-control") }}
			<label>{{ new_article_form.journal_title.label }}</label>
			{{ new_article_form.journal_title(class_="form-control") }}
			<label>{{ new_article_form.datePublished.label }}</label>
			{{ new_article_form.datePublished(class_="form-control") }}
			<label>{{ new_article_form.month.label }}</label>
			{{ new_article_form.month(class_="form-control") }}
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>{{ new_article_form.volume_number.label }}</label>
						{{ new_article_form.volume_number(class_="form-control") }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label>{{ new_article_form.issue_number.label }}</label>
						{{ new_article_form.issue_number(class_="form-control") }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>{{ new_article_form.page_start.label }}</label>
						{{ new_article_form.page_start(class_="form-control") }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label>{{ new_article_form.page_end.label }}</label>
						{{ new_article_form.page_end(class_="form-control") }}
					</div>
				</div>
			</div>
			<label>{{ new_article_form.abstract.label }}</label>
			{{ new_article_form.abstract(class_="form-control") }}			
			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveArticle()">Save changes</button>
      </div>
	  </form>
    </div>
  </div>
</div>
