<div class="modal fade" id="{% if dialog_id %}{{ dialog_id }}{% else %}book-dlg{% endif %}" 
        tabindex="-1" role="dialog" aria-labelledby="book-dlg-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <h3>New Book Form</h3>
			<form method = "POST"
                            id="add_book_form"
			    action ="{{ url_for('add_work') }}">
				{{ book_form.csrf_token }}
                        {{ book_form.citation_type(value='book') }}
			<label>{{ book_form.author_string.label }}</label> <span class="text-danger">*</span></label>
			{{ book_form.author_string(class_="form-control") }}
			<label>{{ book_form.book_title.label }}</label> <span class="text-danger">*</span></label>
			{{ book_form.book_title(class_="form-control") }}
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>{{ book_form.datePublished.label }}</label> <span class="text-danger">*</span></label>
						{{ book_form.datePublished(class_="form-control") }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label>{{ book_form.isbn.label }}</label>
						{{ book_form.isbn(class_="form-control") }}
					</div>
				</div>
			</div>
			<label>{{ book_form.provisionActivityStatement.label }}</label>
			{{ book_form.provisionActivityStatement(class_="form-control") }}
			<label>{{ book_form.editionStatement.label }}</label>
			{{ book_form.editionStatement(class_="form-control") }}
			<label>{{ book_form.url.label }}</label>
			{{ book_form.url(class_="form-control") }}
			<label>{{ book_form.abstract.label }}</label>
			{{ book_form.abstract(class_="form-control") }}
			<label>{{ book_form.notes.label }}</label>
			{{ book_form.notes(class_="form-control") }}			
			</form>
			<span class="text-danger">* indicates required fields</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
