<div class="modal fade" id="{% if dialog_id %}{{ dialog_id }}{% else %}book-dlg{% endif %}" 
        tabindex="-1" role="dialog" aria-labelledby="book-dlg-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <form method = "POST" id="{% if dialog_id %}edit{% else %}add{% endif %}_book_form"
			action = "{% if dialog_id %}{{ url_for('edit_work') }}{% else %}{{ url_for('add_work') }}{% endif %}">
			
      <div class="modal-body">

				{{ book_form.csrf_token }}
                        {{ book_form.citation_type(value='book') }}
			{{ book_form.author_string.label }} <span class="text-danger">*</span>
			{{ book_form.author_string(class_="form-control mb-2") }}
			{{ book_form.book_title.label }} <span class="text-danger">*</span>
			{{ book_form.book_title(class_="form-control mb-2") }}
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ book_form.datePublished.label }} <span class="text-danger">*</span>
						{{ book_form.datePublished(class_="form-control mb-2") }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ book_form.isbn.label }}
						{{ book_form.isbn(class_="form-control mb-2") }}
					</div>
				</div>
			</div>
			{{ book_form.provisionActivityStatement.label }}
			{{ book_form.provisionActivityStatement(class_="form-control mb-2") }}
			{{ book_form.editionStatement.label }}>
			{{ book_form.editionStatement(class_="form-control mb-2") }}
			{{ book_form.url.label }}
			{{ book_form.url(class_="form-control mb-2") }}
			{{ book_form.abstract.label }}
			{{ book_form.abstract(class_="form-control mb-2") }}
			{{ book_form.notes.label }}
			{{ book_form.notes(class_="form-control mb-2") }}			
			</form>
			<span class="text-danger">* indicates required fields</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
