<div class="modal fade" id="new-work-dlg" tabindex="-1" role="dialog" aria-labelledby="new-work-dlg-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Work</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <h3>New Article Form</h3>
			<form method = "POST"
			action = "">
			<label>{{ new_article_form.CC_author.label }}</label>
			{{ new_article_form.CC_author(class_="form-control") }}
			<label>{{ new_article_form.author_string.label }}</label>
			{{ new_article_form.author_string(class_="form-control") }}
			<label>{{ new_article_form.year.label }}</label>
			{{ new_article_form.year(class_="form-control") }}
			<label>{{ new_article_form.abstract.label }}</label>
			{{ new_article_form.abstract(class_="form-control") }}
			<label>{{ new_article_form.citation_type.label }}</label>
			{{ new_article_form.citation_type(class_="form-control") }}
			</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
