<!doctype html>
<html lang="en">
  <head>
    <title>Colorado College Scholarship Database</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block page_css %}{% endblock %}
  </head>
  <body>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
    <br>
    {% block main %}
    <h1>Hello, world!</h1>
    {% endblock %}
    <br>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome-all.min.js') }}"></script>
    {% block page_js %}{% endblock %}
  </body>
</html>
