<!doctype html>
<html lang="en">
  <head>
    <title>Colorado College Scholarship Search Database</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block page_css %}{% endblock %}
  </head>
  <body>
    {% block header %}
        {% include 'header.html' %}
        <div class="btn-group float-right mt-1 mr-2">
            <a href="{{ url_for('home') }}" class="btn btn-primary" alt="Search Scholarship">
                <i class="fas fa-search"></i> Search
            </a>
            {% if not scholar.is_anonymous %}
            <a href="{{ url_for('academic_profile') }}" 
              class="btn btn-success {% if request.path.endswith('academic-profile') %}disabled{% endif %}">
                <i class="far fa-address-card"></i> Profile</a>
            </a>
            <a href="{{ url_for('cc_logout') }}" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
            <a href="{{ url_for('cc_login') }}" 
               class="btn btn-info {% if request.path.endswith("login") %}disabled{% endif %}">
                    <i class="fas fa-sign-in-alt"></i> Edit Profile
            </a>
            {% endif %}
        </div>
    {% endblock %}
    <br>
    {% block main %}
    <h1>Hello, world!</h1>
    {% endblock %}
    <br>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome-all.min.js') }}"></script>
    {% block page_js %}{% endblock %}
    {% block dialogs %}{% endblock %}
  </body>
</html>
