<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">About</h4>
    <hr>
    <p>
        The Scholarship Database is built using open
        knowledge graphs that link authoritative data and 
        recent relationships between Colorado College's people, their 
        creative and scholarly works, and their research 
        interests. 
    </p>    
    <p>    
        <i class="fas fa-user"></i> {{ "users"|get_stat }} people in 
        {{ "orgs"|get_stat }} academic departments and administrative units.
    </p>
    <p>
        <i class="fas fa-file-alt"></i> {{ "articles"|get_stat }} scholarly articles
        published in {{ "journals"|get_stat }} journals.
    </p>
    <p>
        <i class="fas fa-book"></i> {{ "books"|get_stat }} books. 
    </p>
</div>
