{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Colorado College</h1>
    <div class="row">
        <div class="col-8">
            <h2>Scholarship Database</h2>
            <form method="POST" action="{{ url_for('search_triplestore') }}">
                {{ search_form.csrf_token }}
                <h3>Search</h3>
                <div class="form-group">
                    {{ search_form.person.label }}
                    {{ search_form.person(class_='form-control') }}
                </div>
                {#<div class="form-group">
                    {{ search_form.department.label }}
                    {{ search_form.department(class_='form-control') }}
                </div>#}
                <div class="form-group">
                    {{ search_form.keywords.label }}
                    {{ search_form.keywords(class='form-control') }}
                </div>
                <div class="btn-group" role="group" aria-label="Search Options">
                    <input type="submit" class="btn btn-secondary" value="Search"></input> 
                    <div class="btn-group dropdown">
                       <button class="btn btn-primary dropdown-toggle" id="browse-dept-menu"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Browse by Department
                       </button>
                       <div class="dropdown-menu" aria-labelledby="browse-dept-menu">
                       {% for row in search_form.department.choices %}
                           <a class="dropdown-item" href="{{ url_for('org_browsing', uri=row.0) }}">{{ row.1 }}</a>
                       {% endfor %}
                       </div>
                    </div> 
                    <button class="btn btn-success btn-large">Browse by Subject</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            {% if scholar.is_anonymous %}
            <div class="card">
                <div class="card-header">
                     CC Single Sign-In
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('cc_login') }}"  id="cc-login" >
                    {{ login.csrf_token }}    
                    <div class="form-group">
                        {{ login.username.label }}
                        {{ login.username(class_='form-control') }}
                        {% if 'username' in login.errors %}
                        <div class="invalid-feedback">{{ login.errors.get('username') }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ login.password.label }}
                        {{ login.password(class_='form-control') }}
                        {% if 'password' in login.errors %}
                        <div class="invalid-feedback">{{ login.errors.get('password') }}</div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-default" value="Sign In"></input>
                    </div>
                    </form>
                </div>
            </div>
            {% else %}
            <a href="{{ url_for('cc_logout') }}" class="btn btn-lg btn-info">Logout {{ scholar.data.displayName }}</a>
            <a href="{{ url_for('academic_profile') }}" class="btn btn-lg btn-success">
                <i class="far fa-address-card"></i> Profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
(function() {
    'use strict';
    
    window.addEventListener('load', function() {
        var form = document.getElementById('cc-login');
        form.addEventListener('submit', function(event) {
            if (form.checkValidatity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    }), false);
})();
</script>
{% endblock %}
