{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1>Colorado College</h1>
    <div class="row">
        <div class="col-7">
            <h2>Scholarly Interests Database</h2>
            <form method="POST" action="{{ url_for('search_triplestore') }}">
                {{ search_form.csrf_token }}
                <h3>Search</h3>
                <div class="form-group">
                    {{ search_form.person.label }}
                    {{ search_form.person(class_='form-control') }}
                </div>
                {#<div class="form-group">
                    {{ search_form.department.label }}
                    {{ search_form.department(class_='form-control') }}
                </div>#}
                <div class="form-group">
                    {{ search_form.keywords.label }}
                    {{ search_form.keywords(class='form-control') }}
                </div>
                <div class="btn-group" role="group" aria-label="Search Options">
                    <input type="submit" class="btn btn-secondary" value="Search"></input> 
                    <div class="btn-group dropdown">
                       <button class="btn btn-primary dropdown-toggle" id="browse-dept-menu"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Browse by Department
                       </button>
                       <div class="dropdown-menu" aria-labelledby="browse-dept-menu">
                       {% for row in search_form.department.choices %}
                           <a class="dropdown-item" href="{{ url_for('org_browsing', uri=row.0) }}">{{ row.1 }}</a>
                       {% endfor %}
                       </div>
                    </div> 
                    {#<button class="btn btn-success btn-large">Browse by Subject</button>#}
                </div>
            </form>
        </div>
        <div class="col-5">
            {% include "highlight.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script>
(function() {
    'use strict';
    
    window.addEventListener('load', function() {
        var form = document.getElementById('cc-login');
        var validation = Array.prototype.filter.call(form, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidatity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
})();
</script>
{% endblock %}
