{% extends 'base.html' %}

{% set admin_mode = user|is_admin %}

{% block main %}
<div class="container">
    <h3>        
        <a href="{{ url_for('home') }}"><i class="fas fa-graduation-cap"></i></a>
        Colorado College Scholarship Database 
    </h3>
    <h1>{{ info.givenName }} {{ info.familyName }}</h1>
    <div class="row">
        <div class="col-md-6">
            <article class="card">
                <div class="card-header">Research</div>
                <div class="card-body">
                    {% if admin_mode %}
                        <a class="btn btn-primary" 
                           href="{{ url_for('academic_profile') }}?person={{ info.url }}">Edit</a>
                    {% endif %}
                    {{ info.url|get_statement }}
                </div>
            </article>
            {% if info.subjects %}
            <h3>FAST Subjects</h3>
            <ul>
            {% for subject in info.subjects %}
                <li><a href="{{ url_for('subject_view', iri=subject.subject.value) }}">
                    {{ subject.label.value }}</a>
                    {% if admin_mode %}<a href="#"><i class="fas fa-minus"></a>{% endif %}
            {% endfor %}
            </ul>
            {% endif %}
            <h3>
        </div>
        <div class="col-md-6">
            <h3>CC Affiliations</h3>
            {{ info.url|get_history|safe }}
              
            <h3>Contact</h3>
            {% for row in info.email %}
                <a href="mailto:{{ row }}">{{ row }}</a>
                {% if not loop.last %},{% endif %}
            {% endfor %}

			
		<h3>Recent Works</h3>
		{% for row in info.citations %}
			<p>
			{{ row|article_link_filter|safe }}
			{% if 'journal_title' in row %}<em>{{ row.journal_title.value }}</em>{% endif %} ({{ row.datePublished.value }})
			{% if row|volume_issue_filter|safe %} {{ row|volume_issue_filter|safe }} {% endif %}
			{% if row|page_number_filter|safe %}{{ row|page_number_filter|safe }}{% endif %}
			</p>
		{% endfor %}
			
        </div>
    </div>
</div>
{% endblock main %}
