{% extends 'base.html' %}

{% set admin_mode = scholar|is_admin %}

{% block main %}
<div class="container">
    <h3>        
        <a href="{{ url_for('home') }}"><i class="fas fa-graduation-cap"></i></a>
        Colorado College Scholarship Database 
    </h3>
    <h1>{{ info.givenName }} {{ info.familyName }} {% if admin_mode %}
        <a class="btn btn-primary" 
           href="{{ url_for('academic_profile') }}?person={{ info.url }}">Edit</a>
       {% endif %}</h1>
    <div class="row">
        <div class="col-md-6">
            <article class="card">
                <div class="card-header">Research</div>
                <div class="card-body">
                {{ info.url|get_statement }}
                </div>
            </article>
            {#{% if info.subjects %}
            <h3>FAST Subjects <sup><a href="#about-fast" data-target="#about-fast" data-toggle="modal">
            <i class="fas fa-info-circle fa-sm"></i>
        </a></sup></h3>
            <ul>
            {% for subject in info.subjects %}
                <li><a href="{{ url_for('subject_view', iri=subject.subject.value) }}">
                    {{ subject.label.value }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}#}
            <h3>
        </div>
        <div class="col-md-6">
            <h3>CC Affiliations</h3>
            {{ info.url|get_history|safe }}
              
            <h3>Contact</h3>
            {% for row in info.email %}
                <a href="mailto:{{ row }}">{{ row }}</a>
                {% if not loop.last %},{% endif %}
            {% endfor %}
			{# 
                {% if info.citations|length > 0 or info.book_citations|length > 0 or info.book_chapter_citations|length > 0 or info.creative_work_cations|length > 0 %}
		<div style="margin-top:10px; border-top:#d09b2c solid 2px;">
		<h3>Recent Works</h3>
		          {% if info.citations|length > 0 %}
		<h4>Articles</h4>
		<p style="font-style:italic;">Scholarly articles and other short works published in journals and periodicals; conference & working papers.</p>
		<div style="margin:10px; border-bottom:#d09b2c solid 2px;">
		{% for row in info.citations %}
			<p>
			{{ row|article_link_filter|safe }}
			{% if 'journal_title' in row %}<em>{{ row.journal_title.value }}</em>{% endif %} ({{ row.datePublished.value }})
			{% if row|volume_issue_filter|safe %} {{ row|volume_issue_filter|safe }} {% endif %}
			{% if row|page_number_filter|safe %}{{ row|page_number_filter|safe }}{% endif %}
			</p>
		{% endfor %}
		</div>
                {% endif %}
				
                {% if info.book_citations|length > 0 %}
		<h4>Books</h4>
		<p style="font-style:italic;">Monographs or other single publications, written or edited by CC authors.</p>
		<div style="margin:10px; border-bottom:#d09b2c solid 2px;">
		{% for row in info.book_citations %}
			<p>
			<em>{{ row|book_title_filter|safe }}</em>. 
			{{ row|book_edition_filter|safe }}
			{{ row.provisionActivityStatement.value }}.
			</p>
		{% endfor %}
		</div>
                {% endif %}
		

		        {% if info.book_chapter_citations|length > 0 %}		
		<h4>Book Chapters</h4>
		<p style="font-style:italic;">Contributions to monographs or other single publications, including chapters, essays, poems, and introductions.</p>
		<div style="margin:10px; border-bottom:#d09b2c solid 2px;">
		{% for row in info.book_chapter_citations %}
		<p>
		{{ row.book_chapter_title.value	 }}
		{% if row|page_number_filter|safe %}({{ row|page_number_filter|safe }}){% endif %}
		 in 
		<em>{{ row|book_title_filter|safe }}</em>
		{% if 'editor' in row %}({{ row.editor.value }}) {% endif %}
		{{ row|book_edition_filter|safe }}.
		{% if 'provisionActivityStatement' in row %}{{ row.provisionActivityStatement.value }}.{% endif %}
		</p>
		{% endfor %}
		</div>
		        {% endif %}
				{% if info.creative_work_citations|length > 0 %}		
		<h4>Other works</h4>
		<p style="font-style:italic;">Creative and scholarly works such as websites, blogs, musical scores, audio recordings, and art pieces.</p>
		<div style="margin:10px; border-bottom:#d09b2c solid 2px;">
		{% for row in info.creative_work_citations %}
		<p>
		{{ row|creative_work_title_filter|safe }}
		{% if 'publicationDate' in row %}{{ row.publicationDate.value }}.{% endif %}
		</p>
		{% endfor %}

		</div>
		        {% endif %}
		</div>
						{% endif %}

        </div>
		#}
    </div>

</div>
{% endblock main %}
{#
{% block dialogs %}
{% include 'about-fast-dlg.html' %}
{% endblock %}
#}