Flask_Login==0.4.1
werkzeug>=0.15.3
rdfframework.egg==info
Flask_WTF==0.14.2
rdflib==4.2.2
click==6.7
requests==2.18.4
Flask==0.12.2
flask_ldap3_login==0.9.13
WTForms==2.1
bibtexparser==1.0.1
PyGithub==1.37
rdfframework==0.0.23
